@use "sass:map";
@use '@angular/material' as mat;

@import "../styles";

.good {
  background: map.get($wfs-blue-palette, 200);
}

.bad {
  background: map.get(mat.$red-palette, 200);
}

.example-container {
  margin-left: 10%;
  margin-right: 10%;
}

.img-fluid {
  max-height: 80% !important;
  margin-right: 20px !important;
}
